body{
    background-color: #e2e8f0
}

.sidebar{
    background-color: #1992d4;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    padding: 15px;

}

.sidebar-logo{
    width: 1em;
}

.sidebar ul{
    padding: 0px;
    font-size: 19px;
    list-style-type: none;
    width:100% ;
}




.header-logo{
    width: 1em;
}


.header{
    background-color: white;
    padding: 30px ;

}

.search input{
    width: 100%;
    height: 30px;
    border-radius: 30px 30px;
    border: 0px;
    background-color: #e2e8f0;
}


.header-picture{
    width:3em;
    border-radius:100%;
}

.greetings img{
    width: 5em;
}

.large-name{
    font-size: 1.5em;
}

.options button{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: 0px;
    background-color: #1992d4;
    color: #ffffff;
    font-weight: 700;
}
.header-logo{
    width: 1.5em;
}