body{
    background-color: #e2e8f0
}

.sidebar{
    background-color: #1992d4;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    padding: 15px;

}

.sidebar-logo{
    width: 1em;
}

.sidebar ul{
    padding: 0px;
    font-size: 19px;
    list-style-type: none;
    width:100% ;
}




.header-logo{
    width: 1em;
}


.header{
    background-color: white;
    padding: 30px ;

}

.search input{
    width: 100%;
    height: 30px;
    border-radius: 30px 30px;
    border: 0px;
    background-color: #e2e8f0;
}


.header-picture{
    width:3em;
    border-radius:100%;
}

.greetings img{
    width: 5em;
}

.large-name{
    font-size: 1.5em;
}

.options button{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: 0px;
    background-color: #1992d4;
    color: #ffffff;
    font-weight: 700;
}
.header-logo{
    width: 1.5em;
}

.projects{
    height: 100%;
}

.projects> div{
    background-color: #ffffff;
    border-radius: 10px;
    border-left: 8px solid #f0b429  ;
    height: 185px;
    display: grid;
    justify-items: center;
    padding: 20px;
}
.project-logos{
    justify-self:end; 
    align-self: end;
}
.project-logo{
    width: 1.7em;
    padding: 0px 7px;
}

.project-heading{
    font-size:1.2em ;
    font-weight: 700;
}

.announcement{
    height: max(300px,auto);
    background-color: #ffffff;
    padding: 35px;
    border-radius: 10px;
}
.announcement-heading{
    font-weight: 700;
}
.announcement-text{
    font-size: 0.8em;
    
}

#announcement3{
    border-bottom: 0px;
}


.trending{
    background-color: #ffffff;
    height: max(250px,auto);
    padding: 20px 25px;
    border-radius: 12px;
    
}
.trending >div{
    display: flex;
    padding: 5px 0px;
    align-items: center;
}

.trending img{
    width: 3em;
    border-radius: 100%;
    
}

.account-trending{
    font-size: 0.8rem;
}
.trending-text{
    padding-left: 20px;
    font-size: 0.9rem;
}

